<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>WebApp</title>
    <base href="~/">
    <link rel="stylesheet" href="lib/material-design-lite/dist/material.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,300,100" />
</head>
<body>
    <app></app>
    <script src="lib/material-design-lite/dist/material.min.js"></script>
    <script src="lib/es6-shim/es6-shim.js"></script>
    <script src="lib/systemjs/dist/system-polyfills.js"></script>
    <script src="lib/angular2/bundles/angular2-polyfills.js"></script>
    <script src="lib/systemjs/dist/system.js"></script>
    <script src="lib/rxjs/bundles/Rx.js"></script>
    <script src="lib/angular2/bundles/angular2.dev.js"></script>
    <script src="lib/angular2/bundles/http.dev.js"></script>
    <script src="lib/angular2/bundles/router.dev.js"></script>
    <script>
        System.config({
            packages: {
                app: {
                    defaultExtension: 'js'
                }
            }
        });
        System.import('app/main').catch(console.error.bind(console));
    </script>
</body>
</html>
